---
import Image from '@/partials/Image.astro';

type Props = {
  alt: string,
  category: string,
  description: string,
  href: string
  title: string,
  src: string, 
  className?: string,
};

const { alt, title, src, description, category, href, className } = Astro.props;
---
<a
  href={href}
  title={title}
  class={`useCustomCursor flex flex-col gap-2 ${className}`}
>
  <div class="md:h-85 overflow-hidden rounded-xl">
    <Image
      src={src}
      alt={alt}
      className="transition-transform duration-700 hover:scale-110 object-cover object-center h-full"
    />
  </div>
  <div class="mt-2 flex text-lg">
    <h3 class="md:w-1/3">{title}</h3>
    <p class="md:w-1/2 hidden md:block">{description}</p>
    <p class="ml-auto">{category}</p>
  </div>
</a>